[2020-09-24 12:11] sagitaire123 opened #1 "Some bugs to fix"
Hello,

**First problem :**

I'm using 2Checkout Inline and ConvertPlus, there's a problem when we try to complete a purchase for a pending order that we have on "My Account > My Orders", when we click on pay on woocommerce we are redirected to :
https://website.com/checkout/order-pay/2948/?pay_for_order=true&key=wc_order_XXXXXXXX

From this page, it's not possible to make a payment, the popup to

[2020-10-05 13:23] DAHcod commented on #1
Same problem. I wish some body else fix these as soon as possible.

[2020-10-05 14:50] sagitaire123 commented on #1
They are already working on it, it will be ready today or tomorrow.

[2020-10-05 14:54] DAHcod commented on #1
A good news. I am looking forward to fixing it ASAP.
Thank you.

[2020-10-05 14:59] sagitaire123 commented on #1
If you noticed another problem, publish it.
For your case you have the 2 problems ?

[2020-10-05 15:17] DAHcod commented on #1
I have an other problem: When I activate this plugin, at line IPN Callback Url was generated the link with **http**://www...not **https**://www...because my site is support SSL. This maybe an error for processing payments.

[2020-10-05 15:22] sagitaire123 commented on #1
Yes, same problem here.
But it seems it doesn't affect processing payments, i made some tests, but i think it's better to make it https

[2020-10-05 15:32] DAHcod commented on #1
I have tested and it showed this red message: " X Error when trying to place order" at the page https://www.mywebsite.com/my-account/
I think this problem need to test carefully and fix it soon.

[2020-10-05 15:59] sagitaire123 commented on #1
@DAHcod Can you send a screenshot here of the error ?

[2020-10-05 16:25] DAHcod commented on #1
![Screenshot (20)](https://user-images.githubusercontent.com/72394880/95105787-834f6880-06ec-11eb-9297-af8f408b1d91.png)
![Screenshot (23)](https://user-images.githubusercontent.com/72394880/95105792-85192c00-06ec-11eb-9634-e25034286ee6.png)
![Screenshot (24)](https://user-images.githubusercontent.com/72394880/95105797-85b1c280-06ec-11eb-86b4-cc568a0b790b.png)
I have other problems as screenshot f

[2020-10-05 19:17] sagitaire123 commented on #1
For the first screenshot, it's normal, PayPal is not enabled on your 2Checkout account.
For second screenshot, 2Checkout need to fix the page of privacy policy etc..., but it's not a major problem.
For the 3rd screenshot, at which moment this message is displayed, just when you access to my account page ?

[2020-10-06 01:46] DAHcod commented on #1
For the 3rd screenshot, at which moment this message is displayed, just when you access to my account page ?
Answer: When I tested place order, after loading the checkout payment and then closed it. After that I go to my account page to see my pending order and it displayed the error message.
I think this issue maybe at line IPN Callback Url was generated the link with **http**://www...not **https

[2020-10-06 01:50] DAHcod commented on #1
Do let me know if your 2 problem have been resolved.

[2020-10-07 01:58] DAHcod commented on #1
Do you have any information for your 2 problem have been resolved?

[2020-10-07 02:09] sagitaire123 commented on #1
The problem of switching to another payment method, is already fixed here : https://github.com/2Checkout/woocommerce/tree/release

[2020-10-07 02:16] DAHcod commented on #1
Did you fix your issue?

[2020-10-07 02:26] sagitaire123 commented on #1
The second problem yes, it's already fixed, the first one not yet.
@craigchristenson The my account problem will be fixed soon ?

[2020-10-07 02:30] DAHcod commented on #1
I am waiting the first one as well

[2020-10-08 02:13] DAHcod commented on #1
Hi,
Do you know how long take to get the first one fixed?

[2020-10-08 14:15] sagitaire123 commented on #1
No idea

[2020-10-08 16:37] craigchristenson commented on #1
Sorry for the delay, a patch for the 'My Account' issue was just pushed to the release branch. Please let me know if you find any issues.
https://github.com/2Checkout/woocommerce/tree/release

[2020-10-08 23:18] DAHcod commented on #1
Hello,

I have updated but it seems still not working yet. Please tell how to do update to it works on my site?

[2020-10-09 00:15] DAHcod commented on #1
The popup to make the payment is not opened and I am still redirected to a blank page as the first one from sagitaire123
Please check and tell me how to do?

[2020-10-09 01:26] sagitaire123 commented on #1
@DAHcod i updated the plugin and it seems working perfectly without any problem, now i'm making tests to be sure that there's no bugs.

[2020-10-09 01:31] sagitaire123 commented on #1
@craigchristenson , i detected a

@craigchristenson after making some tests, there's a problem at the moment we try to make a payment from "My Account" page, when we select for example 2Checkout Inline and the Popup is open, if we close it and we want to change and choose another payment method and click on "Complete Payment", the Popup of 2Checkout Inline will be opened everytime, even if another

[2020-10-09 02:08] DAHcod commented on #1
@craigchristenson I have tested this on mobile but there was a error with message: "**Error processing checkout. Please try again.**"
@sagitaire123 Can you check and confirm this problem is correct please?

[2020-10-09 02:41] sagitaire123 commented on #1
@DAHcod Are you talking about my account page on mobile ?

[2020-10-09 02:44] DAHcod commented on #1
@sagitaire123 That is when I use my mobile to checkout and choose 2Checkout Inline to pay. But it seems not support and showed the error message.

[2020-10-09 02:48] sagitaire123 commented on #1
@DAHcod which mobile are using and which browser ?

[2020-10-09 02:52] DAHcod commented on #1
@sagitaire123 iPhone with safari browser.

[2020-10-09 03:03] sagitaire123 commented on #1
Which iPhone ?

[2020-10-09 03:07] DAHcod commented on #1
XS max

[2020-10-09 03:08] sagitaire123 commented on #1
I will try tomorrow and let you know

[2020-10-09 22:19] Sonansh commented on #1
It's ridiculous to see that the live plugin has such a basic error. I was wondering why I am not receiving any order via 2checkout for 1 month. Found this crap today.

@sagitaire123 , I confirm I have the same experience as you.  Can you please confirm if all the errors such as the "blank page" issue are resolved now?

Thanks

[2020-10-10 13:01] sagitaire123 commented on #1
@sagitaire123 Yes it has been resolved on My Account page, but still there's some bug.

[2020-10-10 13:34] Sonansh commented on #1
So you mean these are solved
1) Blank page issue
2) Account page

Then which issues are left?

[2020-10-10 13:46] Sonansh commented on #1
I have updated the 2checkout inline and it still throws the blank page. The version of the plugin says 0.0.3

Can you please confirm if you have installed the same version?

[2020-10-10 13:46] DAHcod commented on #1
I still have Blank page issue and checkout by mobile issue.

[2020-10-10 16:30] sagitaire123 commented on #1
Use this release https://github.com/2Checkout/woocommerce/tree/release
it was published by @craigchristenson

it still have some small bugs, normally he told me that it will be fixed this Monday.

[2020-10-10 17:05] Sonansh commented on #1
Thanks @sagitaire123 for sending that link.

I checked both express and Inline methods. Inline worked but express didn't.  However, I prefer inline more. But that's a note to mention.

Can you please briefly tell me what small bugs are remaining so I could also track at my end ?

Thank you

[2020-10-10 17:38] sagitaire123 commented on #1
@Sonansh Personnally i'm using 2Checkout Inline, and it's working good and prefer it comparing to others solutions.

For the small bugs, it's mentioned here, @craigchristenson told me that it will be fixed soon, maybe this monday :

[2020-10-11 16:23] Sonansh commented on #1
I also believe there is some inconsistency with 3D secure pin as well. Hope this plugin becomes fixed soon.

[2020-10-11 17:35] sagitaire123 commented on #1
@Sonansh what do you mean exactly ?

[2020-10-11 17:53] Sonansh commented on #1
After the customer enters the card number, he/she should receive the 6 digit code from the bank which should be entered in order to complete the payment. This number is called 3D secure pin.

The plugin either doesn't sends the pin or is not able to verify when the customer enters.

[2020-10-11 18:43] sagitaire123 commented on #1
@Sonansh This part normally is not managed by the plugin, but by the customer bank, it's the bank who send the 6 digit code, and it's also the bank who approve or not the payment before redirecting to 2Checkout.

[2020-10-13 01:51] DAHcod commented on #1
@sagitaire123 @craigchristenson Is there any new updates?

[2020-10-13 02:37] craigchristenson commented on #1
@sagitaire123 the fix for inline being invoked after another payment method was selected has been pushed to the release branch.
@Sonansh @DAHcod the 3DS, PayPal and privacy policy issues that you are reporting are not part of this plugin but they may be an issues in the 2Checkout inline checkout. Can you both open a support tickets with 2Checkout Support? I can make sure that they receive the prop

[2020-10-13 03:16] DAHcod commented on #1
@craigchristenson Can you change when I click place order first iFrame displayed to choose "How will you pay?" options Credit card or PayPay as the attached file?
![Screenshot (35)_LI](https://user-images.githubusercontent.com/72394880/95811251-b59e2e80-0cc7-11eb-9703-5cad673e777a.jpg)

[2020-10-13 14:03] sagitaire123 commented on #1
@DAHcod when you say if he can change it, you want to change by what exactly ?

[2020-10-13 14:43] Sonansh commented on #1
@craigchristenson

1) I have updated the plugin from this link - https://github.com/2Checkout/woocommerce/tree/release. Is it correct link?
2) I will perform few more tests and if I still face 3D secure pin issue, I will create a new ticket.
3) Can you please publish this plugin to Wordpress Directory? So auto-update is more streamlined?
4) Since past 3 updates, the plugin version is still 0.0.3.

[2020-10-13 15:38] sagitaire123 commented on #1
@DAHcod For me for example, i don't have PayPal on 2Checkout so it ask client to put his credit card numbers directly, at the final step, and it's better like that for my case.

@Sonansh i think @craigchristenson didn't change the version of the plugin yet because it's only a release version, it was not committed yet until we make enough tests.
For 3D secure, i have clients who are making payments

[2020-10-13 15:50] Sonansh commented on #1
@sagitaire123 , When I downloaded the CSV report of recent failed orders, all of them said "unfinished" on the 3D secure column in that excel report. That's why I was concerned. However, when I myself did a test payment, 3D secure worked.
![3Ds](https://user-images.githubusercontent.com/14956505/95884561-e2bb1180-0d99-11eb-9e3c-1ee2f0404301.JPG)

For the color, yes it appears to be controlled by 2

[2020-10-13 15:54] sagitaire123 commented on #1
@craigchristenson i made tests of the last release, the problem of switching to other payment method is fixed on "My Account" page, but now the same problem is on "Checkout" page, the problem just changed pages lol

[2020-10-13 15:55] DAHcod commented on #1
For this only when you click icon Cart on your 2Checkout inline you can see PayPal option. I want to the first step our customers can see 2 choice Credit card or PayPal and they will choose payment method first like the photo I attached before.

[2020-10-13 15:58] sagitaire123 commented on #1
@DAHcod That's not an issue i think but it's a new feature, it must be an option on the plugin (to choose which page we want to see first), so you can make the proposal to 2Checkout, and maybe it will be done on the next version.
For my case, i don't really need it, as i have only Credit Card.

[2020-10-13 16:03] Sonansh commented on #1
@DAHcod I keep a dedicated option for Paypal active which comes default in woocommerce. That is probably the best solution for paypal. I use 2checkout only for credit cards. However it offers a paypal option too. That's just an extra good thing for me. But for Paypal I prefer a default option active.

So at checkout, I offer two separate payment options.
1) Paypal by woocommerce default
2) 2checko

[2020-10-13 16:09] DAHcod commented on #1
Really I think it has been already integrated. You can click on my circle as the attached photo.

![Uploading 99B6B759-7928-492E-8888-4EB7B1E745B4.jpeg…]()

[2020-10-14 23:11] sagitaire123 commented on #1
@Sonansh @DAHcod
@craigchristenson pushed a new version : https://github.com/2Checkout/woocommerce/tree/release
it seems working good now, you can make tests from your side and confirm.

[2020-10-15 08:57] DAHcod commented on #1
@craigchristenson Can you make my issue please? I want to it shows first start:
Cart --> Billing --> Payment (See photo 1).
This plugin now is showed Payment first (See photo 2).
No any any option for choose when it displays first.
@sagitaire123 I tested and it seems working but it is better if it goes to first start Cart --> Billing --> Payment (See photo 1)

![Photo 1](https://user-images.github

[2020-10-15 12:31] Sonansh commented on #1
Hi @sagitaire123 and @craigchristenson

I have tested the plugin on the remaining issues. The gateways now successfully works from "My account" and re-works again on checkout page.

However, I realized that your old plugin has a smart functionality that is missing in this version.

Old plugin - https://docs.woocommerce.com/document/2checkout-inline-checkout/

Functionality misssing:

If the person

[2020-10-16 16:28] Ryvix opened #2 "GitHub Updater support"
Hi there,

How can we use this with the GitHub Updater plugin? It doesn't seem to support having plugins in subfolders. Maybe if each plugin was it's own repository would be better.

https://github.com/afragen/github-updater

Thanks!

[2020-10-18 09:10] DAHcod commented on #1
@craigchristenson Can you do my issue please?

[2020-10-19 01:36] craigchristenson commented on #2
Thanks for the suggestion, I am looking at merging these into a single plugin. I will update you as soon as a solution is available.

[2020-10-19 01:50] craigchristenson commented on #1
In my testing with the inline module, I can bring up inline, close it, go back to my cart to edit/add items and bring up inline again to pay for the current cart. It could be that you do not have the latest release or that I don't understand the feature request. I merged the release branch to master today. When you get a chance can you please confirm that you still have this issue on the current r

[2020-10-19 02:02] craigchristenson commented on #1
This is happening because the plugin uses the 2Checkout Inline Auto Advance feature.
https://knowledgecenter.2checkout.com/Documentation/07Commerce/InLine-Checkout-Guide/Turn-on-auto-advance-feature
I will make sure that we make this configurable in a future release, in the meantime you can remove this line to get the behavior you want.
https://github.com/2Checkout/woocommerce/blob/69fe92af8b498a6

[2020-10-19 02:02] #1 closed

[2020-10-19 03:28] DAHcod commented on #1
I have removed line 54 like you said but nothing change. Still same issue.
Please do let me know more.
Thank you.

[2020-10-20 01:40] craigchristenson commented on #1
Please try clearing your cache to insure that you are getting the updated JS file and please clear your cookies to remove the previous order session.  `TwoCoInlineCart.cart.setAutoAdvance(true); ` is the setting that skips the first 2 steps of inline checkout.

[2020-10-20 02:28] DAHcod commented on #1
It works perfectly. Thank you so much.

[2020-10-24 04:10] DAHcod commented on #1
Hi @craigchristenson,
I have an issue. At step Pay for order I want users have to tick choose: "I have read and agree to the website terms and conditions" before they submit.
Now my issue no any tick and users still submit. This issue need to fix.

See the attached file.

Thank you.
![Screenshot](https://user-images.githubusercontent.com/72394880/97067616-16edb980-1574-11eb-98c4-70d09cf6a5cb.png)

[2020-10-24 04:12] DAHcod opened #4 "Need to tick choose: "I have read and agree to the website terms and conditions" before they submit their purchase."
Hi @craigchristenson,
I have an issue. At step Pay for order I want users have to tick choose: "I have read and agree to the website terms and conditions" before they submit their purchase.
Now my issue no any tick and users still submit. Can you check this issue need to fix?

See the attached file.

Thank you.
![Screenshot](https://user-images.githubusercontent.com/72394880/97067626-384ea580-1574

[2020-10-24 13:21] Sonansh commented on #1
Hey @DAHcod, I tested what you say but it's working on my end. I believe it is the basic woocommerce thing and not the 2checkout plugin thing.
![test](https://user-images.githubusercontent.com/14956505/97082786-e6685700-1629-11eb-9cc3-c264b9b74b5a.JPG)

[2020-10-24 13:32] DAHcod commented on #1
Hi @Sonansh,
Please note that this issue happens with "Pay for order" button. Please go to user's account --> orders --> Pay | View | Cancel. You choose "Pay" button and try it. You will have result like me.

[2020-11-03 19:42] Organd opened #5 "2Checkout 2Pay Api Not working"
Hello,
2Checkout 2Pay Api alwayes show "Loading, please wait..." forever

[2020-11-03 20:28] craigchristenson commented on #5
Can you open your browser console and let me know if you see any errors? I was not able to replicate the issue.

[2020-11-03 20:35] Organd commented on #5
JQMIGRATE: Migrate is installed, version 1.4.1
(index):136 callLightbox
(index):139 https://cube.paysky.io:6006/js/LightBox.js
(index):744 [Intervention] Images loaded lazily and replaced with placeholders. Load events are deferred. See https://go.microsoft.com/fwlink/?linkid=2048113
DevTools failed to load SourceMap: Could not load content for chrome-extension://fdhgeoginicibhagdmblfikbgbkahibd/s

[2020-11-03 20:37] Organd commented on #5
also why "IPN Callback Url" show http instead of https?
When try to add http "IPN URLs" in 2checkout cpanel i got error, so i changed it to https.
but i cant change it in woocommerce

[2020-11-08 08:23] DAHcod commented on #4
@craigchristenson Do you have any update for this issue?

[2020-11-08 08:25] DAHcod commented on #1
@craigchristenson Do you have any update for this issue?

[2020-11-09 18:37] Organd commented on #5
any news?

[2020-11-10 02:47] craigchristenson commented on #4
Sorry for the delay, I missed this issue. Can you confirm which payment method you are using (Convert Plus, Inline, API). I believe your using API based on the previous issue you reported but I just wanted to confirm.

[2020-11-10 02:49] craigchristenson commented on #5
It appears that you have a bunch of errors with your theme based on those error logs which are outside of this plugin. Are you experiencing the same issue on the default woocommerce theme?

[2020-11-10 02:57] DAHcod commented on #4
I am using Inline and I have updated the newest version. Please check and fix this issue.
Thank you.

[2020-11-10 19:39] cgdmohamed commented on #5
same issue with default theme

[2020-11-10 19:52] craigchristenson commented on #5
Ok interesting i have been unable to replicate. Can you send a screenshot
of your browser console on the default theme as well?

On Tue, Nov 10, 2020, 2:39 PM cgdmohamed <notifications@github.com> wrote:

[2020-11-10 19:54] cgdmohamed commented on #5
Here you https://pasteboard.co/JzL5zUB.png

[2020-11-10 19:57] craigchristenson commented on #5
Thank you that is helpful.

On Tue, Nov 10, 2020, 2:54 PM cgdmohamed <notifications@github.com> wrote:

[2020-11-10 20:03] cgdmohamed commented on #5
Thank you @craigchristenson , waiting your reply.

[2020-11-10 21:46] Organd opened #6 "Redirect faild after payment"
Hello,

I follow all integration provided on 2Checkout page here: https://www.2checkout.com/online-shopping-carts/woocommerce.html
But i got error after successfully payment : There has been a fatal error on your website

See here: https://pasteboard.co/JzLMiXt.png

[2020-11-12 15:56] cgdmohamed commented on #5
any updates

[2020-11-12 17:12] Organd commented on #5
The old one wrking well:
https://github.com/craigchristenson/woocommerce-2checkout-api

[2020-11-12 18:11] craigchristenson commented on #4
We are working on a fix for this and will update you when it has been released.

[2020-11-12 18:16] craigchristenson commented on #5
We confirmed thats this is and issue with the 2Checkout 2PayJS product not this payment plugin. We are working on a fix internally and I will update you when it has been corrected.

[2020-11-12 18:20] Organd commented on #5
Thank you so much

[2020-11-12 18:28] cgdmohamed commented on #5
didn't work for me

[2020-11-12 18:29] cgdmohamed commented on #5
thank you very much, i really waiting this problem fixed asap because my personal business depends on this.

[2020-11-13 22:35] cgdmohamed commented on #5
i hope you are working on this case

[2020-11-16 10:40] Organd commented on #6
Fixed

[2020-11-16 10:40] #6 closed

[2020-11-16 10:54] Organd opened #7 "Editing cart content"
Hello,
in inline card payment, there is an option "Editing cart content"
but its not working, when i click, i cannot change the quantity increase or decrease.
so what the point of this option?

Also why product name is not shown in the payment?

[2020-11-18 07:20] ddimitrijevic011 opened #8 "Inline Checkout and 2PayJS/API"
Hello Craig, hello guys,
I'm have issue with both inline checkout and API payment and I really need your help to fix that. The only module that was working is Convert Plus. So I dont have a clue how to fix that but I checked Console error log so I could explain whats my issue. And I also tried switching to WP default theme but no luck, it was the same. Whats interesting, previous version 1.0.0 was

[2020-11-19 06:05] ashik726 opened #9 "IPN Callback Url should be " https " not http"
Hello @craigchristenson ,

The plugin IPN Callback url shown http but it's should be " https " . please check the link https://prnt.sc/vlxd2i .
also your documentation IPN Callback url shown http not https https://prnt.sc/vlxdvv . check this your official doc url https://knowledgecenter.2checkout.com/Shopping-cart-integration/Integrate-WooCommerce?mkt_tok=eyJpIjoiTmprMFlqVmhZMkkxTnpNeiIsInQiOiIxTV

[2020-11-19 06:18] ashik726 commented on #7
Hi @Organd

I agree with your question. So, @craigchristenson Please take care this issue.

[2020-11-20 17:47] artmization commented on #5
Hello same issue i am facing"Loading, please wait...". Please Resolve this issue ASAP. Many thanks

[2020-11-24 20:26] quantumleap33 commented on #5
Same problem here. Cannot use 2checkout payment with WooCommerce!

[2020-11-25 15:11] nobel0 commented on #9
Hi, i agree to Mr. @ashik726 , in the woocommerce plugin settings, the IPN link is shown as http Mr. @craigchristenson ...
I hope you can fix that if this is an issue really..

Thanks

[2020-11-25 16:04] nobel0 commented on #5
Having the same problem with one of my sites.. Where the other is working (Don't have wp rocket but sg optimizer)..
I tried to uninstall wp rocket but it seems the issue persists...

Both of them are using Astra theme,,, so this is something a u said inside of 2PAYJS..

Thanks

[2020-11-25 16:06] nobel0 commented on #8
what is the issue bro?

[2020-11-26 01:11] ddimitrijevic011 commented on #8
Hi nobel0 ,
I'm with no previous experience or knowledge about these topics and I'm doing my best to describe the best I can. Two issues that I have.
1. Convert plus receives payment but return URL throwing 404 even though Approved URL was working fine and before issue started, after succesfull payment I was returned to "Order Details" page like it should.
Screenshots https://pasteboard.co/JC4wp4I

[2020-11-26 04:47] ashik726 commented on #9
@nobel0 2co response is much more slow....i ask them many days ago but no response....

[2020-11-26 11:24] sagitaire123 commented on #9
Hi Guys,
http is also working without any problem.
maybe it's better to have https, but http is also working.

[2020-11-26 12:33] nobel0 commented on #9
Yes i know, i hope they can improve in this concern, because this is well known for 2co..

Thanks

[2020-11-26 12:37] nobel0 commented on #9
Ohh okay, this is why Mr. Craig is not responding to this crap, lol ^^ Sorry but we dunno a lot about this stuff. Thanks @craigchristenson  for your efforts.
Thanks for letting us know Mr. @sagitaire123 ..

I hope they can fix the issue ASAP, or at least let us know when or what's the problem ^^

Thanks

[2020-11-26 14:49] nobel0 commented on #5
Hello dears,

Just to update you guys, i have talked with Mr. @craigchristenson and he said that the 2co developers are working on the 2payjs to get it solved, when it gets fixed he will update us here in the forum.

I hope they can fix it soon. I am sooo excited to use the new plugin, it will rocket my conversion for sure :)

Good luck guys

[2020-11-28 10:13] cgdmohamed commented on #5
Thank you, we're waiting

[2020-12-11 18:53] nobel0 commented on #8
Sorry i didn't get alert that you have replied..

1. Just to make sure, did you put the right link in your 2co settings?

Anyway, i think the 2co server having problems with the new releases,, as many people are having similar problems...

We all are waiting for them to solve this,, if it solved this is will be a HUGE improvement...
Good luck

[2020-12-14 19:13] nobel0 commented on #5
Hello dears,
@cgdmohamed , @quantumleap33 , @Organd...

Good news!
I have talked with Mr. Craig and he told me that they found a workaround to resolve the issue. they are currently waiting on the QA testing, and it should be done this week.

I hope it will turn out all okay..
Thanks & Good luck

[2020-12-14 19:16] Organd commented on #5
That is good news, Thank you so much for updating us

[2020-12-20 03:33] craigchristenson commented on #5
Thank you for your patience with this. We pushed a fix to the release branch which should provide a work around for the issue.
https://github.com/2Checkout/woocommerce/tree/release
In testing this change resolved the issue for us on all slow connections. Please lets me know if this resolves the issue for you.

[2020-12-20 08:51] nobel0 commented on #5
Thanks a lot for the efforts sir.

I am getting errors, one of them is this:
Uncaught SyntaxError: Identifier 'seller_id' has already been declared

![image](https://user-images.githubusercontent.com/62563184/102709211-49d4d500-42b9-11eb-8dcc-e60bf93e5986.png)

The seller id is typed correctly and tried to remove it and re-enter it, but not solved this issue..

Btw, i think the timeout is still ha

[2020-12-23 02:58] craigchristenson commented on #5
Thanks for the feedback man. We will try to find a better workaround. Sounds like in the meantime increasing the timeout should help to resolve the issue. I'm investigating now and will report back soon.

[2020-12-25 02:57] farhan511 opened #10 "My humble advice"
Hi Guys,
My humble advice is to avoid upgrading to convert plus, at least for a while if you want to keep sales normal during the holiday season.
This plugin has so many issues, especially it will change the whole payment structure of your site. even your previous customers who place daily orders using the same card will not be able to place orders most of the time.
just check the abandon cart rat

[2020-12-25 03:05] sagitaire123 commented on #10
Hello @farhan511
You're right, there's many problems with the convertplus.

I'm personally using 2Checkout Inline, and it seems working good without any problem, you can use temporary while @craigchristenson fix the convert plus.

Or maybe you have constraints to only use convertplus ?

[2020-12-25 03:17] farhan511 commented on #10
@sagitaire123
Thanks for your participation.
issue https://github.com/2Checkout/woocommerce/issues/7 is also in the inline version I have just checked.

please confirm me at your site inline checkout, is that showing your store name or product title at the pointed place of inline payment form?
https://prnt.sc/w9htx6

[2020-12-25 03:24] sagitaire123 commented on #10
Hi @farhan511 it's showing store name.
That's the only problem on Inline version, the rest seems working good, no problem with the 3D secure or higher abandon cart ratio.

[2020-12-25 03:27] farhan511 commented on #10
This is due to security reasons as mentioned at line 427 in twocheckout-convert-plus/wc-twocheckout-convert-plus.php by @craigchristenson /**
		 * for safety reasons we only send one Item with the grand total and the Cart_id as ProductName (identifier)
		 * sending products order as ONE we dont have to calculate the total fee of the order (product price, tax, discounts etc)
		 *
		 * @return array

[2020-12-25 03:36] sagitaire123 commented on #10
@farhan511 i think he's right, because i remember on the old version of 2checkout plugin on Woocommerce, some client was able to change price before redirecting to 2checkout page to make the payment.
For example the product cost $40, they will change the request to $0.01 and they will make a payment, if you don't check the order on your 2checkout panel, you can deliver it.

[2020-12-26 04:47] craigchristenson commented on #10
@farhan511 I am sorry for the issues that you are experiencing, the team has been busy working on a fix for the 2PayJS issues that have been reported. I will try to investigate each issue you reported here.

As for the first issue that you mention with 3DS and Convert Plus, this is likely outside of this plugin since all of this interaction occurs after the redirect but I would like to look into i

[2020-12-26 09:26] farhan511 commented on #10
@craigchristenson
Thanks for taking time during the holidays.
I wish you and your family Merry Christmas and a happy new year.

Ticket id is 5299592
There must be some issue as when I asked support I only gave them 2 - 3 orders to check payment failure issue.
At my end, I am manually checking every order so what I can see is it works sometimes and sometimes not for example sometimes it rejects. 
Y

[2020-12-27 19:05] skywebuk opened #11 "United Arab Emirates with 2checkout woocommerce"
Hi,

I set up my United Arab Emirates online store using Woocommerce, but I found a bug that needs fixing.

In the United Arab Emirates, they don't have Postcode/Zipcode

Even in the core of Woocommerce, it's hidden
'AE' => array( 'postcode' => array( 'required' => false, 'hidden' => true ), ),

Now no one can make a payment 2checkout because you can't do it without postcode.

error message: Payme

[2020-12-28 00:41] MdTayouburRahman opened #12 "this is work for taking orders but its not change the order status after taking the payment ."
i sell a digital downloadable product (stock design ) which made by me. and it needs the order mark as complete instantly after a successful Cart purchase. then my customer can download their design file instantly. but now this plugin only accepts the payment but not change the order status . this is very annoying to approve manually every order! Are there any solutions for me?

[2020-12-28 03:12] craigchristenson commented on #10
Hey buddy I hope you have a good holiday too. I'll start looking into your tickets tomorrow on the 3DS issues with convert plus when we have some developers in that area available but I cannot replicate the issue where the total is incorrect. We use the order total provided by the WooCommerce order object `$order->get_total()` with a single lineitem specifically to avoid a scenario where an incorr

[2020-12-28 03:49] craigchristenson commented on #7
Once the order has been passed to 2Checkout the cart cannot be edited in the 2Checkout interface which is why this is disabled. The product name is not shown here because the plugin passes in 1 single lineitem for the total amount representing all products. We do this to insure that to total is correct rather than trying to break out all individual products, discounts, or shipping which may be edi

[2020-12-28 12:05] craigchristenson commented on #11
Thank you for reporting this. This issue is caused by incorrect address validation in the 2Checkout API. I am working with the API developers to find a solution and will report back shortly.

[2020-12-28 12:18] craigchristenson commented on #12
I was not able to replicate this issue. The order status should be changing from pending to processing immediately after the order is placed. It could be caused by a misconfiguration or callback issue on your store. Can you confirm which interface you are using (2PayJS, Inline, Convert Plus) and can you confirm that the order status is remaining in 'pending'?

[2020-12-28 15:55] MdTayouburRahman commented on #12
i face this issue with 2Checkout Convert Plus Payment Gateway.  and i confirm that the order Status is remaining the same and it happened again today. my client hit me on Whatsapp and saying he cant download his files after his purchase. here is my store plugging setup. please check the image
![2020-12-28_215241](https://user-images.githubusercontent.com/57786253/103226782-0b918280-4957-11eb-83be-

[2020-12-30 10:53] JPrestige opened #13 "Empty Cart Issue"
Please guide with the issue I am facing on my WordPress site, when I proceed to checkout it redirects to a page saying Your Cart is Empty.

[2021-01-03 14:54] skywebuk commented on #11
Hi @craigchristenson, is there any update?

Thank you

[2021-01-04 17:37] craigchristenson commented on #10
@farhan511 For the 3DS issues you are reporting please reopen your ticket with 2Checkout support if you would like further investigation. As for the incorrect order total issue are you able to provide any more information on how I can replicate? I was not able to replicate on your website.

[2021-01-07 00:09] #8 closed

[2021-01-07 00:12] ddimitrijevic011 commented on #8
Thank you Craig, issue resolved but without your help I wasn't able to fix it on my own. But because I'm still learning I needed your help and finaly everything works perfectly fine. All 3 connectors tested and completed succesfuly.
Thank you mate!
Cheers,
Dragan

[2021-01-09 04:31] craigchristenson commented on #13
This is likely related to your secret word that you have configured. Can you confirm that you have the "Buy Link" secret word configured from your 2Checkout admin?

[2021-01-09 04:33] craigchristenson commented on #12
Thank you for reporting this issue. This has been resolved in the latest release 1.2.0. Please make sure that you setup your IPN URL again after installing as it has changed in version 1.2.0.

[2021-01-09 04:33] #12 closed

[2021-01-09 04:35] craigchristenson commented on #10
The IPN and order status issued have been resolved in the latest release 1.2.0. Please make sure that you setup your IPN URL again after installing as it has changed in version 1.2.0. If you are able to let us know how to replicate the order total issue in the future please let us know in a new report.

[2021-01-09 04:35] #10 closed

[2021-01-09 04:36] craigchristenson commented on #9
Thank you for reporting this issue. This has been resolved in the latest release 1.2.0. Please make sure that you setup your IPN URL again after installing as it has changed in version 1.2.0.

[2021-01-09 04:36] #9 closed

[2021-01-09 04:38] craigchristenson commented on #7
Please let us know if you have any further feedback on this after installing the latest release.

[2021-01-09 04:38] #7 closed

[2021-01-09 04:38] craigchristenson commented on #4
Thank you for reporting this issue. This has been resolved in the latest release 1.2.0. Please make sure that you setup your IPN URL again after installing as it has changed in version 1.2.0.

[2021-01-09 04:38] #4 closed

[2021-01-09 04:38] craigchristenson commented on #5
Thank you for reporting this issue. This has been resolved in the latest release 1.2.0. Please make sure that you setup your IPN URL again after installing as it has changed in version 1.2.0.

[2021-01-09 04:38] #5 closed

[2021-01-09 04:40] craigchristenson commented on #11
Our API team is working on a fix for this. In the meantime you can use either the convert plus or inline methods which will validate the zip for each country correctly. I will update this thread when the API fix has been released.

[2021-01-09 09:05] DAHcod commented on #4
It is worked perfectly. Thank you.

[2021-01-09 13:28] nobel0 commented on #5
Thanks Mr. @craigchristenson ... It is working nicely.. This is impressive and finally the best look/css is included 👍
Thanks soooo much for the efforts guys.

Have a good day.
Best Regards

[2021-01-11 07:39] JPrestige commented on #13
Hi Craig, thanks for replying. Yes I have filled in all the required fields with the default data that is provided in 2cc admin e.g. Merchant Code, Secret Key, Etc.

[2021-01-20 01:41] craigchristenson commented on #13
We are going to have to take a look at your 2Checkout account configuration. Have you opened a support ticket with 2Checkout support yet? If so please provide the ticket id and I will assist you through your ticket.

[2021-02-08 18:53] Ta2Ta2 commented on #11
any ETA for this issue?

[2021-02-09 06:54] Ta2Ta2 commented on #11
@skywebuk if you still stuck with this, this plugin adds and populate postcode to cities list. Using this plugin I'm able to use the on-site api plugin for UAE addresses. hope it helps..

plugin URL https://wordpress.org/plugins/ry-wc-city-select/

here is what I added in function.php

`add_filter( 'ry_wc_city_select_cities', 'my_cities' );
function my_cities( $cities ) {
    $cities['AE'] = array

[2021-02-17 07:41] ddd33333333 opened #15 "Our system detected that you have slow responding web hooks."
My client website woocommerce get this notification after update

2checkout eror
**Our system detected that you have slow responding web hooks.**

[2021-02-25 17:36] nobel0 opened #16 "Issue when using loading spinner! Works fine if 2co is disabled."
Hi Mr. Craig,
I hope this message finds you well sir :)

Excuse me, is there a quick fix for this error?

### First of all, i am using woofunnel plugin that makes beautiful checkout pages and forms..
**I added a custom HTML code to my site that will put a loading spinner when clicking the "PLACE YOUR ORDER" button.**

Problem: when the 2co plugin is active, the loading spinner doesn't show up when

[2021-03-15 00:34] NLSARCOS opened #17 "plugin woocomerce problem"
Hello, I have this plugins in woocomerce and I like the convert plus method but for a couple of days when my clients try to make a payment the plugins instead of sending it to the 2checkout page it sends it to my wordpress administrator page.

The inline plugins always give me an error and the person has to go through the purchase process twice and usually that causes disagreement.

I would apprec

[2021-03-15 17:57] matheus-morganti commented on #17
Same here!!

[2021-03-16 08:44] craigchristenson commented on #17
Thanks for reporting the issues. I am unable to replicate anything like this, it could be 2Checkout account related. Can you provide a screen shot of the error you are getting?

[2021-03-16 08:49] craigchristenson commented on #16
Sounds like the plugin overrides your customization. Have you tried both with and without the 'Enable/Disable overlay when placing order' setting in the plugins configuration page?

[2021-03-22 16:59] NLSARCOS commented on #17
![image](https://user-images.githubusercontent.com/80655069/112027976-b6a07b00-8b05-11eb-83f9-f29dab714273.png)

This error shows me within the 2checkout platform.

When I activate the convertPlus plugins it does not redirect me to the payment page, but it sends me to the wordpress administrator

I would appreciate your prompt help since I need the convertplus, since I sell to several countries an

[2021-03-22 17:16] NLSARCOS commented on #17
Here is a video of the error when I try to enable ConvertPlus

https://www.loom.com/share/c4d640aa5e2e43498c14fbecdbbf28ec

[2021-03-22 19:40] matheus-morganti commented on #17
Yes, that's exactly the same issue I'm facing! I now tried ConvertPlus on another website and is showing the same error.

[2021-03-31 17:10] sam24fs opened #18 "Plugin break when Cloudflare enabled"
The inline plugins give an error when Cloudflare is enabled on the Woocomerce website.

**Payment error: The shopper IP is not valid**

Screenshot https://snipboard.io/Lwqdst.jpg

I would appreciate it if you could provide a solution.

[2021-04-05 14:45] craigchristenson commented on #18
Thanks for reporting this issue. This was fixed in the latest release 1.2.1.

[2021-04-05 14:45] #18 closed

[2021-04-06 15:59] sam24fs opened #19 "Order status is marked as 'UNFINISHED'"
We see a different issue after the update. When a customer makes a payment the card is charged but the Order status is marked as 'UNFINISHED'

(Screenshot attached)

Could you please look into this matter ASAP?
![Screenshot 2021-04-06 212621](https://user-images.githubusercontent.com/25181332/113741354-2d9d5c80-971f-11eb-9868-eef68f5cb3e4.jpeg)

[2021-04-09 13:31] craigchristenson commented on #19
I wasnt able to replicate any issue with the release causing orders to decline. Are you sure that this issue is related to the latest release? Are you still not seeing orders completed in your account?

[2021-04-09 14:29] sam24fs commented on #19
We had a few cases reported after the update. However, we didn't receive any complaints recently. I think whatever the cause, the issue has been resolved itself by now.

[2021-04-09 14:29] #19 closed

[2021-04-09 20:22] schenkelchen opened #20 "error "Couldn't complete the payment validation process" on initial setup"
Hi @craigchristenson ,

I'm just in progress with setting up the ["2PayJS/API"](https://github.com/2Checkout/woocommerce/tree/master/twocheckout) version.

I did install the addon successfully, entered Seller ID and Secret Key and also added the IPN URL in cpanel while my 2checkout account is in demo mode.
Now I'm trying to make a test payment by using the [visa card test credentials](https://know

[2021-04-09 20:58] craigchristenson commented on #20
Are you using John Doe as the name as indicated in the test credentials
article?

On Fri, Apr 9, 2021, 4:22 PM schenkelchen ***@***.***> wrote:

[2021-04-09 21:09] schenkelchen commented on #20
No, I don't use Jon Doe as card holder's name because there's no field to enter card holder's name in "2PayJS/API" version of the addon.
In the meantime I also installed "Inline Checkout" and "Hosted/Convert-Plus Checkout". I'm not successful with any of them. When choosing the Inline version and clicking in pay button there's no reaction at all on the button click. The Hosted/Convert-Plus version

[2021-04-10 16:41] schenkelchen commented on #20
In my apache logfiles I found an information why the "**Inline Checkout**" might be failing:
`AH01071: Got error 'PHP message: PHP Fatal error: Uncaught Error: Call to undefined method Two_Checkout_Inline_Helper::is_customer_ip_valid() in /home/webserver_provider.com/app_directory/public_html/wp-content/plugins/twocheckout-inline/wc-twocheckout-inline.php:369\nStack trace:\n#0 /home/webserver_prov

[2021-04-11 01:40] craigchristenson commented on #20
Thanks you for reporting the inline issue. I was able to replicate it and have push a new release to fix it.

As for the API name issue, you only need to input the name in the Woocommerce checkout form, not the 2PayJS form.

I was unable to recreate the convert plus issue you reported. Could woocommerce be redirecting to my account because some field is required before checkout?

[2021-04-13 18:40] schenkelchen commented on #20
Thanks for solving the issue with **Inline Checkout** so fastly, @craigchristenson. It works on my demo account now!

But I've made three small findings which I'd like to let you know about:

1. after confirming credit card credentials (so in the moment when the payment request goes out to twocheckout) a browser popup window opens next to the dynamic popup with card credentials.
![inline_popup](ht

[2021-04-13 18:43] schenkelchen commented on #20
Can you please clarify what I should do to provide you further details on the **Hosted/Convert-Plus Checkout** issue, @craigchristenson.
`I was unable to recreate the convert plus issue you reported. Could woocommerce be redirecting to my account because some field is required before checkout?`
I don't get the point what _redirection to your account_ means.

[2021-04-15 11:17] schenkelchen commented on #20
I've done further trials with the **Hosted/Convert-Plus Checkout** addon (Version 1.2.2)

Out of 5 trials when I clicked the purchase button checkout page I got redirected two times to 2checkout.com and found the information there that my cart is empty (which is wrong).
![convert-plus_redirection](https://user-images.githubusercontent.com/54481142/114860207-fe0be580-9deb-11eb-924c-a4247c85dd74.PNG

[2021-04-15 11:37] schenkelchen commented on #20
One point to add on the issue with **Inline Checkout**
It's still able to place test orders and still the error message appears after transaction as reported by me on April 13, 18:40 UTC

I accessed the respective logs for inline an the found the following:
`04-15-2021 @ 20:22:54 - Unable to get proper response from signature generation API. In file /home/domain.com/xxxxx/public_html/wp-content/pl

[2021-04-15 11:52] schenkelchen commented on #20
Unfortunately the **2PayJS/API** addon doesn't generate a log like the other two addons on my installation, so I can't determine if that one might have the same trouble, too.

[2021-04-23 16:26] schenkelchen commented on #20
For the **2PayJS/API** Addon in might be neccessary that while test mode enabled in Addon settings a card holder name can be chosen to allow transaction to be performed with positive or negative result - depending on the name - and to avoid the error message
`Payment error: Couldn't complete the payment validation process: Error processing the credit card transaction. Please contact the issuer ban

[2021-04-26 11:56] apsychoninja opened #21 "Cannot enable payment gateway on woocommerce"
I'm not able to enable the 2 checkout payment method on woocommerce Version 5.1.0 , WordPress version 5.7.1.

Steps to produce Error:

1. Download code from github, Extract it and zip it again to upload sepearately.
2. once uploaded enable the plugins and goto Woocommerce > Payments
3. Try to enable 2checkout with merchant account and password

it just won't enable and not showing any errors. Plea

[2021-05-08 11:17] shushurumu opened #22 "WPML multilanguage support"
I'm really happy with the loader icon you added in the plugin.

I use the plugin from the folder twocheckout which adds the debit cards form in my site.
I have some issues - I can't change names in the form using WPML, because it didn't detect any strings so it becomes just for english speaking users, also on iPhone (in Safari) the form stuck on loading. After refreshing the page is ok.

[2021-06-02 20:06] clubcouleurs opened #23 "Woocommerce/2Checkout plugin redirect to Error 404 after successful payment"
-1

Please i have this issue on my webstore made with Woocommerce/Wordpress and the payement gateway is 2Checkout inline, After a successful payement i’m getting a 404 error instead of thankyou page :

**1 - With 2Checkout gateway the link is this (404 Error) :**

`https://www.example.com/?wc-api=payment_response&pm=twocheckout_inline&order-ext-ref=6827&refno=353985938&total=1&total-currency=EUR&s

[2021-07-17 17:29] fsan2val opened #24 "Error when trying to place order"
Error when trying to place order

When the 2C online payment window is opened for the second time, this error appears **(Error when trying to place order)**

I already tried with cache disabling plugin but nothing.
I leave you a link of a product for you to try.

https://my.prosandoval.com/producto/diseno-pack-redes-sociales-emprendedor/

I repeat if you pay with 2C and close the window, you open

[2021-07-21 10:10] cgdmohamed commented on #21
same issue

[2021-07-30 20:36] nobel0 commented on #23
Did you go through the setup steps in your 2co account?
Could be from that...

[2021-08-03 06:36] AppCodeBackup opened #25 "Error when placing order JS Error"
I am using Twocheckout inline checkout but when the customer is trying to pay using that integration then there is an error occurring i.e

Uncaught DOMException: Failed to execute 'querySelector' on 'Document': '[object HTMLDivElement]' is not a valid selector.
    at https://secure.2checkout.com/checkout/client/twoCoInlineCart.js:16:24508
    at I (https://secure.2checkout.com/checkout/client/two

[2021-08-07 04:52] alaalamsa opened #26 "Payment error: The Zip cannot be empty / UAE"
Hi,
An Issue with 2chkout in UAE.
"Payment error: The Zip cannot be empty"
any fast solution?
Regards
AHY

[2021-08-08 10:43] alaalamsa commented on #11
Hi, are you able to help me to do this .?

[2021-08-08 10:48] Ta2Ta2 commented on #11
@alaalamsa  If I can sure. How can I help?

[2021-08-08 11:14] alaalamsa commented on #11
I have same issue with zip missing with 2chkout, in my store in uae.
I am zero knowledge of wp.
I tried to edit the php. But frankly hard to continue. I am worry to get problem and ahoutdown my web. Asl long the devloper not able to reach

[2021-08-08 12:07] Ta2Ta2 commented on #11
It’s as easy as I explained. Download the plugin. Then after you can add the code into the function.php page.

Alternatively I can help to go through if we schedule a call or something.

[2021-08-08 12:26] alaalamsa commented on #11
are you in UAE?
Please let me know how to contact you?
my information/contact in bio
Thanks

[2021-08-08 12:38] Ta2Ta2 commented on #11
Yes I’m based in Dubai. Happy to help man! Will WhatsApp you.

[2021-08-23 13:13] Mineslu commented on #23
Es importante que Configure la IPN en "checkout, sino no hya información de retorno.
Saludos

[2021-08-23 13:16] Mineslu commented on #21
En la carpeta de descarga hay 3 subcarpetas. Cada una de ellas es un plugin y tienes que ser subidas de forma individual como un archivo ZIP y ser instalados.
<img width="957" alt="Captura de Pantalla 2021-08-23 a la(s) 08 14 38" src="https://user-images.githubusercontent.com/9434043/130453499-7d829d5a-c2ca-40db-a620-b07c4f51c547.png">
rpetas
Saludos

[2021-08-23 13:31] Mineslu commented on #20
Hello there,
I have already managed to install and activate "Convert-Plus Checkout" and "inline Checkout". But I have the same problem to integrate "2PayJS / API".
In Woocomerce's name field put this:
<img width="1336" alt="Captura de Pantalla 2021-08-23 a la(s) 08 29 58" src="https://user-images.githubusercontent.com/9434043/130455828-32c09f97-5bcd-4230-ba15-a762c1dfe049.png">

And in the form of

[2021-08-23 13:48] Mineslu commented on #5
266 / 5000
Resultados de traducción
Hello there,
I have already managed to install and activate "Convert-Plus Checkout" and "inline Checkout". But I have the same problem to integrate "2PayJS / API".
In Woocomerce's name field put this:
<img width="1336" alt="Captura de Pantalla 2021-08-23 a la(s) 08 29 58" src="https://user-images.githubusercontent.com/9434043/130457922-053f6d66-bb66-4030-b06e-ab

[2021-08-23 16:54] nobel0 commented on #5
Hi dear,

This is because now they are no longer accepting credit cards payment process thro them,, they alternatively provide it thro paypal credit card,, i have received an email about this last month i think.. i contacted Mr. Craig, but still waiting for his experience with this..

U can now use convert plus or the popup ONLY.

Good luck

[2021-08-24 14:08] Mineslu commented on #5
Ohh great data, thank you very much. 2Checkout should explain that it no longer works with 2Pay. There is still a lot of information from 2co about this integration:

https://knowledgecenter.2checkout.com/API-Integration/2Pay.js-payments-solution/2Pay.js-Payments-Solution-Integration-Guide/Place-orders-via-API-using-a-2Pay.js-token

Thank

[2021-09-17 07:29] Streamlinelv opened #27 "Unable to finish the order using Customer payment link"
There is an issue with the latest updates of 2Checkout plugin.

When opening an order with the status "Pending payment" and opening the Customer payment link - unable to complete the payment using 2Checkout gateway since the input fields (Card number, Expiration date etc.) do not appear. Seems like a JavaScript issue.

How to reproduce the issue:

1) Create a new order and do not go through with t

[2021-10-21 18:46] khaled279 opened #28 "Payment error:The provided currency -[EGP] is not supported"
Payment error:The provided currency -[EGP] is not supported with this card type. Supported currencies: []

I even tried to change the currency to USD but still no use the error appears with payment trails

[2021-12-26 14:57] dachilla opened #29 "The provided currency [USD] is not supported with this card type"
Have 2 websites with 2checkout on my old website it works flawless on my new one I get this error. Tried to contact 2checkout but no help so far. Any suggestions here? Thank you in advance.

[2021-12-29 17:54] Sei969 opened #30 "2Checkout Redirect URL Question"
Hello,

I want to implement the plugin into my website and the procedure is clear except for one thing.
In the 2CO Setting page under Redirect URL > Enable return after sale > Approved URL the link to add should be https://{your-site-name.com}/?wc-api=2checkout_ipn as IPN URL or the link to the Thank you page?

Thanks to those who point me in the right direction.

[2022-01-16 07:14] dachilla commented on #28
2checkout say it's due to them having switched MC and Visa to paypal or whatever... Contacted them several times, takes ages to reply. Once I got a reply they told me I probably use an outdated shopify plugin... SHOPIFY? Waited 3 weeks for a useless response. Do you have any update on this?`

I think I'll look for another payment service.

[2022-02-04 00:37] sagitaire123 commented on #30
you must put : https://{your-site-name.com}/?wc-api=2checkout_ipn

[2022-02-05 01:31] khaled279 commented on #28
I'm really sorry It took me that long they replied to me saying the payments are now only available through paypal and that's the way to resolve the issue not the best reply so I switched to another payment gateway

[2022-02-05 03:52] dachilla commented on #28
Same here, changed payment gateway... 2checkout became useless.

[2022-03-28 12:23] keanokia opened #31 "Payment error:The provided currency [USD] is not supported with this card type. Supported currencies: []"
hi sir.

im using 2Checkout Payment Gateway

how to fix this issue? there's no IPN on 2checkout admin?

"Payment error:The provided currency [USD] is not supported with this card type. Supported currencies: []"

[2022-06-23 00:24] uncharted-user opened #32 "PayPal's payment option is missing in twocheckout-convert-plus-woocommerce-v2.2.0"
I can't find PayPal option after updating from version 1.2 to 2.2. What happened to this option?

## Version 1.2
![1 2](https://user-images.githubusercontent.com/100132960/175182032-d1dc3604-3182-46cc-939e-ee534debaf8e.PNG)

## Version 2.2
![2 2](https://user-images.githubusercontent.com/100132960/175182057-c1dc0eb9-01e2-48e9-82cf-ae550650a0c1.PNG)

[2022-06-26 21:02] uncharted-user commented on #32
PayPal will not be shown when Create test orders is enabled.

[2022-06-26 21:02] #32 closed

[2022-06-26 21:26] uncharted-user opened #33 "Layout is not being displayed properly."
Fields are being shown as sunk under border box and tab is empty!

Versions:
WooCommerce: 6.6.1
Twocheckout-woocommerce: 2.2.0
WordPress: 6.0

![image](https://user-images.githubusercontent.com/100132960/175834317-b0ab0e81-20c1-4227-ad73-9fc3da3b09de.png)

[2022-06-26 21:32] uncharted-user opened #34 "[Feature Request] Please make the plugin available in WordPress Plugin site."
Please make the plugin available in [WordPress Plugins](https://wordpress.org/plugins/). It is really a troublesome and risky work to manually update the plugin through zip and upload followed by update.

[2022-06-26 21:37] uncharted-user opened #35 "[Feature Request] All purchase are shown as the same name in the client's bank description."
Please implement the display of product name with quantity in the client's bank description. For example now it is being shown by the site name, myshop.com x 2 or myshop x 2, but we need to show as cap x 2, shirt x 1 etc.

[2022-06-29 09:40] alexlii1971 opened #36 "Question upon the blank form"
Hello,

Would you please check the screenshot, and there is a blank field, would you please let us know what is that?

![download](https://user-images.githubusercontent.com/15896194/176405177-09974823-b3f3-4dc5-a61e-4d963bd19c7a.png)

[2022-06-29 16:08] uncharted-user commented on #36
Duplicate of #33

[2022-08-03 18:44] Streamlinelv commented on #34
+1

[2022-08-03 18:47] Streamlinelv opened #37 "Custom style showing hidden field as visible"
Could you please make sure that the .two-co-iframe-hidden-tabbable class is added to Custom CSS and is hidden instead of visible.
Also it would be much appreciated if you could allow adding new classes and CSS to the customization block since it is imposible to style CSS and quickly fix the issue mentioned above.

[2022-08-03 19:20] uncharted-user commented on #37
+1

[2022-09-10 21:29] Adainiki opened #38 "Is 2Checkout 2d secure or 3d? how to enable 2d payment gateway on my wordpress site?"
How to switch off Dynamic 3D Secure for my website? I need to use 2d payment gateway on my site for my shoppers.